

/*Meny bar*/
a {
    color: #000;
}



/* header */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #F9FCFF;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #F9FCFF;
        text-decoration: none;
    }

        .header li a:hover,
        .header .menu-btn:hover {
            background-color: #A8CCFF;
        }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 0px 40px;
        text-decoration: none;
    }


.banner-frontpage-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    padding-top: 90px;
}

.banner-frontpage-text {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    background: #ffffff;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    flex-direction: column;
    text-align: left;
}


.banner-frontpage-picture {
    flex-grow: 1;
    flex-basis: 50%;
}

    .banner-frontpage-picture img {
        max-width: 100%;
        height: auto;
        min-width: 400px;
    }

/*Add colour to the active/current link*/
.active {
    background-color: #FFB396;
    color: black;
}
.a{
    color:black;
}
/* menu */

.header .menu {
    text-align: center;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

    .header .menu-icon .nav-icon {
        background: #0AA8F9;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 23px;
    }

        .header .menu-icon .nav-icon:before,
        .header .menu-icon .nav-icon:after {
            background: #0AA8F9;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .header .menu-icon .nav-icon:before {
            top: 5px;
        }

        .header .menu-icon .nav-icon:after {
            top: -5px;
        }

/* menu btn */

.header .menu-btn {
    display: none;
}

    .header .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }

        .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
            transform: rotate(-45deg);
            top: 0;
        }

        .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
            transform: rotate(45deg);
            top: 0;
        }


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

        .header li a {
            padding: 20px 30px;
        }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}
}
/* Om oss-siden */ .body-about {
    color: black;
    font-family: Optima, Garamond, Verdana, Helvetica, Arial sans-serif;
    font-size: 1.2em;
    margin: 0;
}

.banner-about-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: stretch;
    justify-content: right;
    padding-top: 60px;
}

.banner-about-text {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    background: lightsalmon;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-about-picture {
    flex-grow: 1;
    flex-basis: 50%;
}

    .banner-about-picture img {
        max-width: 100%;
        height: auto;
        min-width: 500px;
    }
/* flere bilder og tekst */

.luksus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.6em;
}

.destinasjoner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.6em;
}

.luksus-item p {
    margin-top: 10px;
}

.destinasjoner-item p {
    margin-top: 10px;
}

.img1-about {
    max-width: 100%;
    min-width: 40%;
    width: 100%;
    height: auto;
}

.img2-about {
    width: 100%;
    min-width: 300px;
    height: auto;
}

.luksus-item {
    max-height: 100%;
    max-width: 100%;
    margin: 3%;
    align-items: center;
}

.destinasjoner-item {
    max-height: 100%;
    max-width: 100%;
    margin: 3%;
    align-items: center;
}

.luksus-item-1 {
    flex: 1;
}

.luksus-item-2 {
    flex: 1;
    margin-left: 10px;
}

.destinasjoner-item-1 {
    flex: 1;
    margin-right: 10px;
}

.destinasjoner-item-2 {
    flex: 1;
}
/*Footer-about*/
footer {
    background: lightsalmon;
    padding: 70px 0;
}

.button {
    padding: 5px;
    width: 40px;
    float: right;
    right: 12px;
    margin-right: 70px;
    margin-bottom: 30px;
    height: 30px;
    width: 30px;
}

.frame2 {
    width: 50%;
    margin-bottom: 20px;
    text-align: left;
}
/*footer-about slutt*/

